.home {
  display: flex;
  position: relative;
  width: 100%;
}
.user-input-form-container {
  position: relative;
  width: 523px;
  height: 832px;
  background-color: #e8f2ff;
}

.form-header {
  position: relative;
  width: 125px;
  height: 48px;
  top: 104px;
  left: 48px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: #002964;
}

.input-task-label {
  position: absolute;
  height: 24px;
  top: 176px;
  left: 48px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

label:last-of-type .input-task-label {
  top: 280px;
}

.input-fields {
  position: absolute;
  width: 427px;
  height: 48px;
  top: 208px;
  left: 48px;
  border-radius: 8px;
  border: 1px solid #e3e5e5;
  text-align: start;
  font-size: 16px;
  background-color: #ffffff;
}

label:last-of-type .input-fields {
  position: absolute;
  width: 427px;
  height: 123px;
  top: 312px;
  left: 48px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #e3e5e5;
  background-color: #ffffff;
}

.input {
  width: 395px;
  height: 24px;
  display: flex;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 12px 16px;
}
.input::placeholder {
  color: #b3b3b3;
}

.add-task-btn {
  position: absolute;
  width: 427px;
  height: 47px;
  top: 500px;
  left: 48px;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  background-color: #002964;
  font-size: 14px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 22px;
}

.todo-container {
  width: 745px;
  position: relative;
}

.todo-container-header {
  position: absolute;
  height: 48px;
  top: 104px;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 48px;
}

.todo-section-title-container {
  position: absolute;
  top: 177px;
  left: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: default;
}
.todo-section-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #002964;
  color: #002964;
  cursor: pointer;
  height: 100%;
}
.todo-section-color-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 101px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  background-color: #002964;
  color: #ffffff;
  cursor: pointer;
}

.todo-items-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 680px;
  top: 251px;
  left: 40px;
  border-radius: 4px;
  color: #313131;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.todo-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 680px;
  height: 56px;
  color: #313131;
}

.checkbox-cnt {
  position: absolute;
  left: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  appearance: none;
  outline: none;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #e4e9f2;
  border-radius: 4px;
}

input[type="checkbox"]:checked::before {
  background-image: url("/Checkmark.svg");
  background-repeat: no-repeat;
  background-color: #002964;
  background-size: 50%;
  background-position: center;
  border: none;
}

.todo-content {
  position: absolute;
  left: 52px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  color: #313131;
}
.todo-content-selected {
  position: absolute;
  left: 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  color: #b6b6b6;
}

.todo-content-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-bottom: 1px solid #b6b6b6; /* Adjust line properties as needed */
  transform: translateY(80%);
}

.todo-dropdown {
  position: absolute;
  left: 640px;
  cursor: pointer;
}

.todo-description {
  position: relative;
  height: 46px;
  left: 52px;
  height: 40px;
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  top: -10px;
}

.li-container {
  border-radius: 4px;
  border: 1px solid #e4e9f2;
  height: auto;
  margin-bottom: 8px;
  list-style: none;
}

/* Add this CSS to your existing stylesheet or create a new one */

/* Media query for max width of 320px (mobile view) */
@media (max-width: 570px) {
  .home {
    position: relative;
    display: block;
    min-width: fit-content;
  }
  .user-input-form-container {
    width: 100%;
    height: 600px;
  }
  .form-header,
  .input-task-label,
  .input-fields,
  .add-task-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23px;
  }
  .form-header {
    top: 40px;
  }

  .input-task-label {
    top: 7rem;
    font-size: 30px;
    height: auto;
  }

  label:last-of-type .input-task-label {
    height: auto;
    top: 17rem;
  }

  .add-task-btn {
    height: 60px;
    font-family: "Poppins", sans-serif;
  }
  .input-fields {
    top: 10rem;
  }
  .input {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-align: center;
    width: auto;
  }
  label:last-of-type .input-fields {
    top: 20rem;
  }

  .input-fields {
    text-align: center;
    width: 90%;
  }
  label:last-of-type .input-fields {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .form-header {
    text-align: center;
    font-size: 35px;
    width: 100%;
  }

  .todo-container-header {
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
  }

  .todo-section-title-container {
    top: 8rem;
    height: 60px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .todo-section-color,
  .todo-section-color-selected {
    font-size: 25px;
  }
  .todo-description {
    font-size: 20px;
  }

  #myCheckBox {
    height: 25px;
    width: 25px;
  }
  .todo-list-container {
    height: 90px;
  }

  .todo-items-container {
    top: 14rem;
  }

  .todo-content,
  .todo-content-selected {
    font-size: 25px;
  }

  .dropdown-down {
    height: 10px;
  }
}

@media (min-width: 571px) and (max-width: 891px) {
  .home {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    height: 510px;
  }
  .user-input-form-container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }

  .form-header {
    top: 35px;
  }
  .input-fields {
    top: 145px;
  }

  label:last-of-type .input-fields {
    top: 257px;
  }
  .input-task-label {
    top: 111px;
  }
  label:last-of-type .input-task-label {
    top: 222px;
  }

  .input {
    margin: 12px 5px;
  }

  .add-task-btn {
    top: 428px;
  }

  .todo-container-header {
    top: 60px;
  }
  .todo-section-title-container {
    top: 120px;
  }
  .todo-items-container {
    top: 191px;
  }
}

@media (min-width: 892px) and (max-width: 1250px) {
  .input-fields {
    width: 320px;
  }
  .input {
    width: auto;
  }
  label:last-of-type .input-fields {
    width: 320px;
  }

  .add-task-btn {
    width: 320px;
  }
}
