.home {
  display: flex;
  position: relative;
  width: 100%;
}
.user-input-form-container {
  position: relative;
  width: 523px;
  height: 832px;
  background-color: #e8f2ff;
}

.form-header {
  position: relative;
  width: 125px;
  height: 48px;
  top: 104px;
  left: 48px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  color: #002964;
}

.input-task-label {
  position: absolute;
  height: 24px;
  top: 176px;
  left: 48px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

label:last-of-type .input-task-label {
  top: 280px;
}

.input-fields {
  position: absolute;
  width: 427px;
  height: 48px;
  top: 208px;
  left: 48px;
  border-radius: 8px;
  border: 1px solid #e3e5e5;
  text-align: start;
  font-size: 16px;
  background-color: #ffffff;
}

label:last-of-type .input-fields {
  position: absolute;
  width: 427px;
  height: 123px;
  top: 312px;
  left: 48px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #e3e5e5;
  background-color: #ffffff;
}

.input {
  width: 395px;
  height: 24px;
  display: flex;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 12px 16px;
}
.input::placeholder {
  color: #b3b3b3;
}

.add-task-btn {
  position: absolute;
  width: 427px;
  height: 47px;
  top: 500px;
  left: 48px;
  padding: 10px;
  gap: 10px;
  border-radius: 4px;
  background-color: #002964;
  font-size: 14px;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  line-height: 22px;
}

.todo-container {
  border: 1px dotted red;
  width: 745px;
  position: relative;
}

.todo-container-header {
  position: absolute;
  height: 48px;
  top: 104px;
  left: 40px;
  font-size: 28px;
  font-weight: 500;
  line-height: 48px;
}

.todo-section-title-container {
  position: absolute;
  top: 177px;
  left: 40px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: default;
}
.todo-section-color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 101px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #002964;
  color: #002964;
  cursor: pointer;
  height: 100%;
}
.todo-section-color-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 101px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  background-color: #002964;
  color: #ffffff;
  cursor: pointer;
}

.todo-items-container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 680px;
  height: 56px;
  top: 255px;
  left: 40px;
  border-radius: 4px;
  border: 1px solid #e4e9f2;
  color: #313131;
}

.checkbox-cnt {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  left: 8px;
  padding: 10px;
  border: 1px dotted greenyellow;
  margin-right: 4px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px; /* Set the height of the checkbox */
  padding: 0; /* Remove padding */
  margin: 0; /* Add border-radius for rounded corners */
  appearance: none; /* Remove default styles */
  outline: none;
}

/* Style the custom appearance of the checkbox */
input[type="checkbox"]::before {
  content: ""; /* Add pseudo-element content */
  display: block;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: 1px solid #e4e9f2;
  border-radius: 4px;
}

/* Adjust appearance of the custom checkbox when checked */
input[type="checkbox"]:checked::before {
  background-image: url("/Checkmark.svg");
  background-repeat: no-repeat;
  background-color: #002964;
  background-size: 50%;
  background-position: center;
}

.todo-content {
  display: flex;
  align-items: center;
  position: relative;
  width: 451px;
  height: 48px;
  left: 4px;
  gap: 0px;
  opacity: 0px;
}

.todo-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  left: 137px;
  cursor: pointer;
}
